<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [86]:
!pip install sqlalchemy==1.3.9
import piplite
await piplite.install(['folium'])
await piplite.install(['pandas'])

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

ModuleNotFoundError: No module named 'piplite'

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [44]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.34-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.34-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.34

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

ModuleNotFoundError: No module named 'piplite'

In [46]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [47]:
!pip install -q pandas

In [48]:
%sql sqlite:///my_data1.db

In [49]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [50]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [51]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [52]:
%sql select distinct(launch_Site) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [53]:
%sql select * from SPACEXTABLE where launch_site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [58]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [59]:
%sql select avg(Booster_Version) from SPACEXTABLE where Booster_Version='F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(0.0,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [60]:
%sql select min(date) from SPACEXTABLE where Landing_Outcome='Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [61]:
%sql select customer from SPACEXTABLE where Landing_Outcome='Success (drone ship)' and (PAYLOAD_MASS__KG_> 4000 and PAYLOAD_MASS__KG_ < 6000)

 * sqlite:///my_data1.db
Done.

[('SKY Perfect JSAT Group',),
 ('SKY Perfect JSAT Group',),
 ('SES',),
 ('SES EchoStar',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [62]:
%sql select Mission_Outcome, count(*) from SPACEXTABLE group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [73]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [78]:
%sql SELECT CASE substr(Date, 6, 2) WHEN '01' THEN 'January' WHEN '02' THEN 'February' WHEN '03' THEN 'March' WHEN '04' THEN 'April' WHEN '05' THEN 'May'  WHEN '06' THEN 'June' WHEN '07' THEN 'July' WHEN '08' THEN 'August' WHEN '09' THEN 'September' WHEN '10' THEN 'October' WHEN '11' THEN 'November' WHEN '12' THEN 'December'    END AS Month,Booster_Version,launch_site,landing_outcome FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('June', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Failure (parachute)'),
 ('December', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Failure (parachute)'),
 ('May', 'F9 v1.0  B0005', 'CCAFS LC-40', 'No attempt'),
 ('October', 'F9 v1.0  B0006', 'CCAFS LC-40', 'No attempt'),
 ('March', 'F9 v1.0  B0007', 'CCAFS LC-40', 'No attempt'),
 ('September', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'Uncontrolled (ocean)'),
 ('December', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('January', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('April', 'F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('July', 'F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('August', 'F9 v1.1', 'CCAFS LC-40', 'No attempt'),
 ('September', 'F9 v1.1 B1011', 'CCAFS LC-40', 'No attempt'),
 ('September', 'F9 v1.1 B1010', 'CCAFS LC-40', 'Uncontrolled (ocean)'),
 ('January', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('February', 'F9 v1.1 B1013', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('March', 'F9 v1.1 B1014', 'CCAFS LC-40', 'No attempt'),
 ('April', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('April', 'F9 v1.1 B1016', 'CCAFS LC-40', 'No attempt'),
 ('June', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)'),
 ('December', 'F9 FT B1019', 'CCAFS LC-40', 'Success (ground pad)'),
 ('January', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Failure (drone ship)'),
 ('March', 'F9 FT B1020', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('April', 'F9 FT B1021.1', 'CCAFS LC-40', 'Success (drone ship)'),
 ('May', 'F9 FT B1022', 'CCAFS LC-40', 'Success (drone ship)'),
 ('May', 'F9 FT B1023.1', 'CCAFS LC-40', 'Success (drone ship)'),
 ('June', 'F9 FT B1024', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('July', 'F9 FT B1025.1', 'CCAFS LC-40', 'Success (ground pad)'),
 ('August', 'F9 FT B1026', 'CCAFS LC-40', 'Success (drone ship)'),
 ('January', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('February', 'F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('March', 'F9 FT B1030', 'KSC LC-39A', 'No attempt'),
 ('March', 'F9 FT  B1021.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('May', 'F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('May', 'F9 FT B1034', 'KSC LC-39A', 'No attempt'),
 ('June', 'F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('June', 'F9 FT  B1029.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('June', 'F9 FT B1036.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('July', 'F9 FT B1037', 'KSC LC-39A', 'No attempt'),
 ('August', 'F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('August', 'F9 FT B1038.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('September', 'F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('October', 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('October', 'F9 FT  B1031.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('October', 'F9 B4 B1042.1', 'KSC LC-39A', 'Success (drone ship)'),
 ('December', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('December', 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Controlled (ocean)'),
 ('January', 'F9 B4 B1043.1', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('January', 'F9 FT  B1032.2', 'CCAFS SLC-40', 'Controlled (ocean)'),
 ('February', 'F9 FT  B1038.2', 'VAFB SLC-4E', 'No attempt'),
 ('March', 'F9 B4 B1044', 'CCAFS SLC-40', 'No attempt'),
 ('March', 'F9 B4  B1041.2', 'VAFB SLC-4E', 'No attempt'),
 ('April', 'F9 B4  B1039.2', 'CCAFS SLC-40', 'No attempt'),
 ('April', 'F9 B4 B1045.1', 'CCAFS SLC-40', 'Success (drone ship)'),
 ('May', 'F9 B5  B1046.1', 'KSC LC-39A', 'Success (drone ship)'),
 ('May', 'F9 B4  B1043.2', 'VAFB SLC-4E', 'No attempt'),
 ('June', 'F9 B4  B1040.2', 'CCAFS SLC-40', 'No attempt'),
 ('June', 'F9 B4 B1045.2', 'CCAFS SLC-40', 'No attempt'),
 ('July', 'F9 B5B1047.1', 'CCAFS SLC-40', 'Success'),
 ('July', 'F9 B5B1048.1', 'VAFB SLC-4E', 'Success'),
 ('August', 'F9 B5 B1046.2', 'CCAFS SLC-40', 'Success'),
 ('September', 'F9 B5B1049.1', 'CCAFS SLC-40', 'Success'),
 ('October', 'F9 B5 B1048.2', 'VAFB SLC-4E', 'Success'),
 ('November', 'F9 B5 B1047.2', 'KSC LC-39A', 'Success'),
 ('December', 'F9 B5 B1046.3', 'VAFB SLC-4E', 'Success'),
 ('December', 'F9 B5B1050', 'CCAFS SLC-40', 'Failure'),
 ('December', 'F9 B5B1054', 'CCAFS SLC-40', 'No attempt'),
 ('January', 'F9 B5 B1049.2', 'VAFB SLC-4E', 'Success'),
 ('February', 'F9 B5 B1048.3', 'CCAFS SLC-40', 'Success'),
 ('March', 'F9 B5B1051.1', 'KSC LC-39A', 'Success'),
 ('May', 'F9 B5B1056.1 ', 'CCAFS SLC-40', 'Success'),
 ('May', 'F9 B5 B1049.3', 'CCAFS SLC-40', 'Success'),
 ('June', 'F9 B5 B1051.2 ', 'VAFB SLC-4E', 'Success'),
 ('July', 'F9 B5 B1056.2 ', 'CCAFS SLC-40', 'Success'),
 ('August', 'F9 B5 B1047.3 ', 'CCAFS SLC-40', 'No attempt '),
 ('November', 'F9 B5 B1048.4', 'CCAFS SLC-40', 'Success'),
 ('December', 'F9 B5B1059.1', 'CCAFS SLC-40', 'Success'),
 ('December', 'F9 B5 B1056.3 ', 'CCAFS SLC-40', 'Success'),
 ('January', 'F9 B5 B1049.4', 'CCAFS SLC-40', 'Success'),
 ('January', 'F9 B5 B1046.4', 'KSC LC-39A', 'No attempt'),
 ('January', 'F9 B5 B1051.3', 'CCAFS SLC-40', 'Success'),
 ('February', 'F9 B5 B1056.4', 'CCAFS SLC-40', 'Failure'),
 ('March', 'F9 B5 B1059.2', 'CCAFS SLC-40', 'Success'),
 ('March', 'F9 B5 B1048.5', 'KSC LC-39A', 'Failure'),
 ('April', 'F9 B5 B1051.4', 'KSC LC-39A', 'Success'),
 ('May', 'F9 B5B1058.1 ', 'KSC LC-39A', 'Success'),
 ('June', 'F9 B5 B1049.5', 'CCAFS SLC-40', 'Success'),
 ('June', 'F9 B5 B1059.3', 'CCAFS SLC-40', 'Success'),
 ('June', 'F9 B5B1060.1', 'CCAFS SLC-40', 'Success'),
 ('July', 'F9 B5 B1058.2 ', 'CCAFS SLC-40', 'Success'),
 ('August', 'F9 B5 B1051.5', 'KSC LC-39A', 'Success'),
 ('August', 'F9 B5 B1049.6', 'CCAFS SLC-40', 'Success'),
 ('August', 'F9 B5 B1059.4', 'CCAFS SLC-40', 'Success'),
 ('September', 'F9 B5 B1060.2 ', 'KSC LC-39A', 'Success'),
 ('October', 'F9 B5 B1058.3 ', 'KSC LC-39A', 'Success'),
 ('October', 'F9 B5 B1051.6', 'KSC LC-39A', 'Success'),
 ('October', 'F9 B5 B1060.3', 'CCAFS SLC-40', 'Success'),
 ('November', 'F9 B5B1062.1', 'CCAFS SLC-40', 'Success'),
 ('November', 'F9 B5B1061.1 ', 'KSC LC-39A', 'Success'),
 ('November', 'F9 B5B1063.1', 'VAFB SLC-4E', 'Success'),
 ('November', 'F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Success'),
 ('December', 'F9 B5 B1058.4 ', 'KSC LC-39A', 'Success')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [83]:
%sql select Landing_Outcome,count(*) from SPACEXTABLE where date>='2010-06-04' and date<='2017-03-20'

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)', 31)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>